*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
}

.container{
    display:flex;
    min-height:100vh;
}

.sidebar{
    width:35%;

    min-height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1695747003790-1539fea7f53c?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px 0;
}
.logo img{
    width: 70px;
}
.logo h1{
    color: white;
    font-size: 4rem;
    margin-left: 10px;
}

.credit{
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 0.8rem;
}

.main{
    width:65%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.row{
    display: flex;
    gap: 60px;
}

.field{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.field label {
    font-size: 12px;
    font-weight: bold;
    color: #555;
    margin-bottom: 4px;
}
.field input {
    height: 35px;
    padding: 8px;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    font-size: 16px;

}
.field input:focus{
    outline: none;
    border-color: blue;
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.3);
}

.btn{
    margin-top: 30px;
    padding: 12px 40px;
    background-color: #596D48;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover{
    background-color: #465638;
}

.main p:last-child{
    margin-top: 20px;
    margin-left: 40px;
}
a {
    color: #596D48;
}
a:hover{
    text-decoration: underline;
}
@font-face {
    font-family: "Norse";
    src: url("fonts/norse/Norse.otf") format("opentype");
}
.logo h1{
    font-family: "Norse",serif;
}

.form-card{
    background-color: white;
    padding: 30px 40px;
    margin: 40px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.row {
    display: flex;
    gap: 50pxs;
}
.field {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.field label {
    font-size: 0.75rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #555;
    margin-bottom: 4px;
}
.field input{
    padding: 10px;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    font-size: 1rem;
}
.field input:focus{
    outline: none;
    border-color: #3b82f6;
    box-shadow: 0 0 5px rgba(59, 130, 246, 0.4);
}
.field input:invalid{
    border-color: red;
}

.btn{
    margin-top: 20px;
    margin-left: 50px;
    padding: 12px 40px;
    background-color: #596D48;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
.paragraph{
    padding: 80px 40px 40px;
    max-width: 650px;
}
.paragraph p {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 25px;
}